



{% load staticfiles %}
 {% block footer %}
  <div class="footer">
    <div class="foot">
          <p>版权所有：拓诚机械有限公司



      
     
<a href="#0" class="cd-top" style="background: #457CE6 url({% static 'img/cd-top-arrow.svg' %}) no-repeat center 50%;">返回顶部</a>




     <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273917144'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273917144%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
      </p>
 


        </div>
   


  </div>





<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"6","bdPos":"right","bdTop":"250",},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>






<script src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
<script src="{% static 'js/back/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/back/main.js' %}"></script> <!-- Gem jQuery -->
<script src="{% static 'js/back/modernizr.js' %}"></script> <!-- Modernizr -->
{% endblock %}